@use '@/assets/styles/mixins' as *;

.compatibility {
  padding-bottom: 110px;
  margin-top: -48px;

  @include xs {
    margin-top: -43px;
  }
}


.mainTitle {
  text-align: center;
  margin-bottom: 42px;

  @include m {
    font-size: 22px;
  }

  @include xs {
    font-size: 16px;
    margin-bottom: 32px;
  }
}


.addBtn {
  align-items: center;
}


