@use '@/assets/styles/mixins' as *;

.waitingBar {
  z-index: 2;
  position: relative;
  gap: 20px;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  @include xs {
    padding: 12px;
    gap: 14px;
    font-size: 14px;
  }
}

.clock {
  font-weight: 400;
}

.title {
  color: #c7afc1;
  font-weight: 700;
}

.icon {
  width: 24px;
  height: 24px;
  fill: #FFB94C;
  flex-shrink: 0;
  margin-left: auto;
}

.ready {
  text-transform: uppercase;
  font-size: 22px;

  @include xs {
    font-size: 20px;
  }
}

.img {
  width: 60px;
  height: 60px;
  border-radius: 20%;
  position: relative;
  top: -1px;
  @include xs {
    left: 0px;
  }
}

.content {
  width: 60%;
  display: flex;
  gap: 20px;
  align-items: center;

  @include xs {
    gap: 16px;
  }
}

.waitingUnderlay {
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: 0;
  position: absolute;
  inset: 0;
  height: 100%;
  background: linear-gradient(
                  to right,
                  rgba(255, 185, 76, 0.2) 0%, 
                  rgba(255, 185, 76, 0.1) 70%, 
                  rgba(255, 185, 76, 0.2) 100% 
  );
}

.wrapper {
  position: relative;
  margin-bottom: 16px;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid rgb(255 255 255/.2);
}

.flexColWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
  width: 100%;
}

.additionalInfo {
  color: #c7afc1;
  font-size: 14px;
  display: flex;
  gap: 10px;
  align-items: center;
  flex: 1;
}

.questionString {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  opacity: .6;
}

.dateString {  
  flex-shrink: 0;  
  color: #c7afc1;
  font-size: 14px;  
}