@use '@/assets/styles/mixins' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsWrapper {
  width: 100%;
  max-width: 860px;
  border-radius: 20px;
  padding-block: 20px;

  @include xs {
    padding: 0;
  }
} 