@use '@/assets/styles/mixins' as *;

.natalFeaturePage {
  padding-bottom: 110px;
  margin-top: -48px;

  @include xs {
    margin-top: -43px;
  }
}

.mainTitle {
  text-align: center;
  margin-bottom: 32px;

  @include m {
    font-size: 22px;
  }

  @include xs {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.textBlock {   
  
  @include xs {
    padding-inline: 4px !important;
  }
}

.text {
  opacity: .8;
  margin-top: 16px;
}

.texts {
  margin-top: 30px;

  @include xs {
    margin-top: 20px;
  }
}

.textTitle {
  //margin-bottom: 20px;
}



.headerBlock {
  margin-bottom: 20px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.imgWrapper {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.iconImg {
  max-width: 100%;
}