@use '@/assets/styles/mixins' as *;


.integralHeader {
  margin-top: 32px;
  text-align: center;


  @include xs {
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
  }
}

.nowWeCan {
  margin-block: 40px;
  color: rgb(255, 185, 76);
  text-align: center;
  font-size: 16px;
}