@use '@/assets/styles/mixins' as *;

/*родительский блок для анимации*/
.animation {
  width: 375px;
  height: 375px;
  position: fixed;
  position: absolute;
  top: 40px;
  left: 0;


  --anim-size: 375px; /* Значение по умолчанию */

  @include m {
    --anim-size: 90vw; /* Новое значение при ширине экрана меньше 500px */
  }
}

@media (max-width: 500px) {
  .animation {
    width: 90vw;
    height: 90vw;
    top: 10vw;
  }
}

.game-loader__btn {
  position: fixed;
  outline: none;
  min-width: 16%;
  min-height: 4%;
  bottom: 10vh;
  z-index: 10001;
  background: transparent;
  border: 2px solid #11dbd9;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 0.5em 1em;
  transition: 1s;
}

.game-loader__btn:hover {
  background: #11dbd9;
}

.planet {
  filter: url("#goo");
  position: relative;
  width: 100%;
  height: 100%;
}

.planet::after {
  content: "";
  display: block;
  width: 8%;
  height: 8%;
  border-radius: 50%;
  background: #11dbd9;
  box-shadow: #11dbd9 0 0 24px 4px;
  margin: 0 auto;
  position: absolute;
  top: 46%;
  left: 46%;
  animation: scale 16s linear infinite, color5 8s linear infinite;
}

.planet .loaderMini1 {
  position: absolute;
  width: 3%;
  height: 3%;
  border-radius: 50%;
  background: #11dbd9;
  top: 48.5%;
  left: 48.5%;
  animation: move1 8s linear infinite, color1 8s linear infinite;
}

.planet .loaderMini2 {
  position: absolute;
  width: 3.6%;
  height: 3.6%;
  border-radius: 50%;
  background: #11dbd9;
  top: 48.5%;
  left: 48.5%;
  animation: move2 9s linear infinite, color2 9s linear infinite;
}

.planet .loaderMini3 {
  position: absolute;
  width: 4.2%;
  height: 4.2%;
  border-radius: 50%;
  background: #11dbd9;
  top: 48.5%;
  left: 48.5%;
  animation: move3 10s linear infinite, color3 10s linear infinite;
}

.planet .loaderMini4 {
  position: absolute;
  width: 4.8%;
  height: 4.8%;
  border-radius: 50%;
  background: #11dbd9;
  top: 48.5%;
  left: 48.5%;
  animation: move4 11s linear infinite, color4 11s linear infinite;
}

.planet .loaderRadius1 {
  position: absolute;
  width: 12%;
  height: 12%;
  border-radius: 50%;
  border: 0.5px solid #11dbd9;
  opacity: 0.2;
  background: transparent;
  top: 44%;
  left: 44%;
  transform: scale(0);
  animation: orbit1 8s linear infinite;
}

.planet .loaderRadius2 {
  position: absolute;
  width: 18%;
  height: 18%;
  border-radius: 50%;
  border: 0.5px solid #11dbd9;
  opacity: 0.2;
  background: transparent;
  transform: scale(0);
  top: 41%;
  left: 41%;
  animation: orbit2 9s linear infinite;
}

.planet .loaderRadius3 {
  position: absolute;
  width: 24%;
  height: 24%;
  border-radius: 50%;
  border: 0.5px solid #11dbd9;
  opacity: 0.2;
  background: transparent;
  transform: scale(0);
  top: 38%;
  left: 38%;
  animation: orbit3 10s linear infinite;
}

.planet .loaderRadius4 {
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border: 0.5px solid #11dbd9;
  opacity: 0.2;
  background: transparent;
  transform: scale(0);
  top: 35%;
  left: 35%;
  animation: orbit4 11s linear infinite;
}

.planet--color .loaderMini1 {
  background: #0fc3c2;
}

.planet--color .loaderMini2 {
  background: #0dacaa;
}

.planet--color .loaderMini3 {
  background: #0b9493;
}

.planet--color .loaderMini4 {
  background: #0a7c7b;
}

.btn-play {
  left: 41vw;
}

@keyframes move1 {
  0% {
    transform: skewX(5deg) rotate(0deg) translateY(0em) rotate(0deg) skewX(-5deg) rotate(0deg);
  }
  10% {
    transform: skewX(5deg) rotate(180deg) translateY(calc(var(--anim-size) * (-6) / 100)) rotate(-180deg) skewX(-5deg) rotate(180deg);
  }
  25% {
    transform: skewX(5deg) rotate(360deg) translateY(calc(var(--anim-size) * (-12) / 100)) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
  50% {
    transform: skewX(5deg) rotate(720deg) translateY(calc(var(--anim-size) * (-12) / 100)) skewX(-5deg) rotate(720deg);
  }
  75% {
    transform: skewX(5deg) rotate(1080deg) translateY(calc(var(--anim-size) * (-12) / 100)) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
  }
  90% {
    transform: skewX(5deg) rotate(1260deg) translateY(calc(var(--anim-size) * (-6) / 100)) rotate(-1260deg) skewX(-5deg) rotate(1260deg);
  }
  100% {
    transform: skewX(5deg) rotate(1440deg) translateY(0em) rotate(-1440deg) skewX(-5deg) rotate(1440deg);
  }
}

@keyframes move2 {
  0% {
    transform: skewX(5deg) rotate(0deg) translateY(0em) rotate(0deg) skewX(-5deg) rotate(0deg);
  }
  10% {
    transform: skewX(5deg) rotate(180deg) translateY(calc(var(--anim-size) * (-9) / 100)) rotate(-180deg) skewX(-5deg) rotate(180deg);
  }
  25% {
    transform: skewX(5deg) rotate(360deg) translateY(calc(var(--anim-size) * (-18) / 100)) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
  50% {
    transform: skewX(5deg) rotate(720deg) translateY(calc(var(--anim-size) * (-18) / 100)) rotate(720deg) skewX(-5deg) rotate(720deg);
  }
  75% {
    transform: skewX(5deg) rotate(1080deg) translateY(calc(var(--anim-size) * (-18) / 100)) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
  }
  90% {
    transform: skewX(5deg) rotate(1260deg) translateY(calc(var(--anim-size) * (-9) / 100)) rotate(-1260deg) skewX(-5deg) rotate(1260deg);
  }
  100% {
    transform: skewX(5deg) rotate(1440deg) translateY(0em) rotate(-1440deg) skewX(-5deg) rotate(1440deg);
  }
}

@keyframes move3 {
  0% {
    transform: skewX(5deg) rotate(0deg) translateY(0em) rotate(0deg) skewX(-5deg) rotate(0deg);
  }
  10% {
    transform: skewX(5deg) rotate(180deg) translateY(calc(var(--anim-size) * (-12) / 100)) rotate(-180deg) skewX(-5deg) rotate(180deg);
  }
  25% {
    transform: skewX(5deg) rotate(360deg) translateY(calc(var(--anim-size) * (-24) / 100)) rotate(-360deg) skewX(-5deg) rotate(360deg);
  }
  50% {
    transform: skewX(5deg) rotate(720deg) translateY(calc(var(--anim-size) * (-24) / 100)) rotate(720deg) skewX(-5deg) rotate(720deg);
  }
  75% {
    transform: skewX(5deg) rotate(1080deg) translateY(calc(var(--anim-size) * (-24) / 100)) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
  }
  90% {
    transform: skewX(5deg) rotate(1260deg) translateY(calc(var(--anim-size) * (-12) / 100)) rotate(-1260deg) skewX(-5deg) rotate(1260deg);
  }
  100% {
    transform: skewX(5deg) rotate(1440deg) translateY(0em) rotate(-1440deg) skewX(-5deg) rotate(1440deg);
  }
}

@keyframes move4 {
  0% {
    transform: skewX(5deg) rotate(0deg) translateY(0em) rotate(0deg) skewX(-5deg) rotate(0deg);
  }
  10% {
    transform: skewX(5deg) rotate(180deg) translateY(calc(var(--anim-size) * (-15) / 100)) rotate(-180deg) skewX(-5deg) rotate(180deg);
  }
  25% {
    transform: skewX(5deg) rotate(360deg) translateY(calc(var(--anim-size) * (-30) / 100)) skewX(-5deg) rotate(360deg);
  }
  50% {
    transform: skewX(5deg) rotate(720deg) translateY(calc(var(--anim-size) * (-30) / 100)) rotate(720deg) skewX(-5deg) rotate(720deg);
  }
  75% {
    transform: skewX(5deg) rotate(1080deg) translateY(calc(var(--anim-size) * (-30) / 100)) rotate(-1080deg) skewX(-5deg) rotate(1080deg);
  }
  90% {
    transform: skewX(5deg) rotate(1260deg) translateY(calc(var(--anim-size) * (-15) / 100)) rotate(-1260deg) skewX(-5deg) rotate(1260deg);
  }
  100% {
    transform: skewX(5deg) rotate(1440deg) translateY(0em) rotate(-1440deg) skewX(-5deg) rotate(1440deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes orbit1 {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  25% {
    transform: scale(2.2);
  }
  35% {
    transform: scale(2.1);
  }
  50% {
    transform: scale(2);
  }
  65% {
    transform: scale(2.1);
  }
  75% {
    transform: scale(2);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes orbit2 {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  25% {
    transform: scale(2.2);
  }
  35% {
    transform: scale(2.1);
  }
  50% {
    transform: scale(2);
  }
  65% {
    transform: scale(2.1);
  }
  75% {
    transform: scale(2);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes orbit3 {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  25% {
    transform: scale(2.2);
  }
  35% {
    transform: scale(2.1);
  }
  50% {
    transform: scale(2);
  }
  65% {
    transform: scale(2.1);
  }
  75% {
    transform: scale(2);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes orbit4 {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  25% {
    transform: scale(2.2);
  }
  35% {
    transform: scale(2.1);
  }
  50% {
    transform: scale(2);
  }
  65% {
    transform: scale(2.1);
  }
  75% {
    transform: scale(2);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes color1 {
  10% {
    background: #11dbd9;
  }
  50% {
    background: #ff217b;
  }
  90% {
    background: #11dbd9;
  }
}

@keyframes color2 {
  10% {
    background: #11dbd9;
  }
  50% {
    background: #ff7878;
  }
  90% {
    background: #11dbd9;
  }
}

@keyframes color3 {
  10% {
    background: #11dbd9;
  }
  50% {
    background: #ffa283;
  }
  90% {
    background: #11dbd9;
  }
}

@keyframes color4 {
  10% {
    background: #11dbd9;
  }
  50% {
    background: #962a4e;
  }
  90% {
    background: #11dbd9;
  }
}

@keyframes color5 {
  10% {
    background: #11dbd9;
    box-shadow: #11dbd9 0 0 24px 4px;
  }
  50% {
    background: #13c2d3;
    box-shadow: #13c2d3 0 0 24px 4px;
  }
  90% {
    background: #11dbd9;
    box-shadow: #11dbd9 0 0 24px 4px;
  }
}

.gameLoader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim-svg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -100;
  pointer-events: none;
}

/*Счетчик процентов поверх анимации на последнем шаге*/

.percentCounter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 16px;
  margin-left: 2px;
  font-weight: 500;
}


.noAnimation * {
  animation: none!important;
}

.noAnimation::before,
.noAnimation::after, {
  animation: none!important;
}