@use '@/assets/styles/mixins' as *;

.title {
  margin-bottom: 32px;
}

.text {
  margin-bottom: 32px;
  opacity: .8;

}

.buttons {
  margin-top: 46px;
  display: flex;
  gap: 20px;

  @include xs {
    flex-direction: column;
    margin-top: 24px;
  }
}

.secondaryBtn {
  background: transparent;
  border: 1px solid #ffb94c;
  color: #ffb94c;

  &:hover {
    background-color: #4d2e52;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
  }
}


.wrapper {
  width: 100%;
}

.inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;  
}

.notMatch {
  position: absolute;
  bottom: -28px;
  left: 0;
  
  color: red;
  margin-top: 10px;
  font-size: 15px;
  
  @include xs {
    position: static;
    margin-top: 0;
    font-size: 14px;
  }
}