@use '@/assets/styles/mixins' as *;

.systemContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  margin-top: 40px;
  
  @include t {
    max-width: unset;    
    padding-inline: 20px;
  }
}

.smallWidthWrapper {
  width: 100%;
  max-width: 440px;
  margin-top: 30px;
}

.diagramWrapper {
  display: flex;
  gap: 10px;
  
  @include xs {
    flex-direction: column;
    gap: 20px;
  }
}