@use '@/assets/styles/mixins' as *;

.card {
  display: block;
  border-radius: 12px;
  //margin-bottom: 16px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px;
  background-color: #4d2e52;
  background-color: #553559;
  width: 50%;
  
  @include m {
    padding: 20px;
  }
  
  @include xs {
    padding: 12px;
    padding-bottom: 16px;
  }
}

.cardText {
  margin-top: auto;
  margin-top: 10px;    
}

.cardTitle {
  font-weight: 500;
  color: #e8e4e9;
  margin-top: 10px;
  margin-top: 10px;
  font-size: 26px;

  @include m {
    font-size: 18px;
  }

  @include xs {
    margin-top: 0px;
  }
  
}

.cardDescription {
  color: #ffffff;
  opacity: 0.8;
  font-size: 20px;
  margin-top: 20px;
  

  @include m {
    font-size: 16px;
    margin-top: 14px;    
  }
  
  @include xs {
    margin-bottom: 0px;
    font-size: 12px;
  }
  
  @media (max-width: 389px) {
    height: 30px;    
  }
}

.cardImage {
  width: 100%;
  object-fit: contain;
  border-radius: 12px;  
  max-width: 100%;  
}

.imageWrapper {
  width: 100%;  
  border-radius: 12px;
  aspect-ratio: 1;
}

.hidden {
  width: 0;
  height: 0;
}

.br {
  display: none;

  @media(max-width: 404px) {
    display: inline-block;
  }
}


