@use '@/assets/styles/mixins' as *;

.textBlock {
  margin-top: 40px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #FFFFFF;
}
.par {
  margin-bottom: 24px;
  opacity: .8;
}

.title {
  //margin-bottom: 24px;
}





.imgWrapper {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 2px;

  @include xs {
    width: 36px;
    height: 36px;
  }
}

.iconImg {
  max-width: 50%;
}


.headerWrapper {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 24px;

  @include xs {
    margin-bottom: 24px;
  }
}