.textBlock {
  margin-top: 40px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #FFFFFF;
}
.par {
  margin-bottom: 24px;
  opacity: .8;
}

.title {
  margin-bottom: 24px;
}


