.activity {
  margin-bottom: 40px;
}

.title {
  margin-bottom: 16px;
}

.recommendedSubtitle {
  //color: rgb(57, 203, 63);
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 12px;
}

.unrecommendedSubtitle {
  //color: rgb(230, 61, 82);
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 12px;
}

.recommended {
  //margin-bottom: 20px;
  padding-left: 16px;
  padding: 12px;
  border-radius: 12px;
}

.unrecommended {
  padding-left: 16px;
  padding: 12px;
  border-radius: 12px;
}

.row {
  display: flex;
  align-items: center;
  gap: 14px;
  //margin-bottom: 8px;
  //align-items: flex-start;
}

.close {
  width: 16px;
  height: 16px;
  stroke-width: 2px;
  flex-shrink: 0;
  

  //stroke: rgb(230, 61, 82);
}

.check {
  //fill: rgb(57, 203, 63);
  flex-shrink: 0;
}


.recommended {
  
  & .row {
//    background-color: rgba(0, 110, 0, 0.484314);
//    padding-left: 10px;
    padding-block: 2px;
  }
}

.unrecommended {
  
  & .row {
    //background-color: rgba(100, 0, 0, 1);
    //padding-left: 10px;
    padding-block: 2px;

  }
}