@use '@/assets/styles/mixins' as *;

.activity {
  //margin-bottom: 40px;

  padding: 16px;
  border-radius: 8px;
  background-color: #553559;
  
  &:last-child {
    margin-bottom: 50px;
    
    @include xs {
      margin-bottom: 30px;
    }
  }

  @include xs {
    //margin-bottom: 20px;            
  }
}

.title {
  margin-bottom: 8px;
  color: rgb(255, 185, 76);

  @include xs {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.recommendedSubtitle {
  color: rgb(255 255 255);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 12px;
  
  @include xs {
    margin-bottom: 10px;
  }
}

.unrecommendedSubtitle {
  color: rgb(255 255 255);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 12px;
}

.recommended {
  padding-block: 12px;
  border-radius: 12px;
  
  @include xs {
    padding-block: 10px;
  }
}

.unrecommended {
  padding-block: 12px;
  border-radius: 12px;

  @include xs {
    padding-block: 10px;
  }
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  line-height: 1.4;
}

.close {
  width: 16px;
  height: 16px;
  stroke-width: 2px;
  flex-shrink: 0;
  position: relative;
  top: 3px;
  stroke: #421F47;
  
  
  background: red;
  border-radius: 50%;
  padding: 3px;
}

.check {
  flex-shrink: 0;
  position: relative;
  top: 3px;
}


.recommended {

  & .row {
    padding-block: 3px;    
  }
}

.unrecommended {
  
  & .row {
    padding-block: 3px;
  }
}

.greenCheck {
  position: relative;
  top: -6px;
}

.iconWrapper {
  position: relative;
  top: 10px;
  width: 32px;
  
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    
  }
  
} 

.redIcon {
  fill: red;
 }