@use '@/assets/styles/mixins' as *;

.inputGroup {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 12px;
  color: #FFFFFF;
  opacity: 0.8;
  margin-bottom: 8px;
  display: block;
}

.textarea {
  width: 100%;
  padding: 12px 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1); /* Обводка с прозрачностью 10% */
  border-radius: 12px;
  color: #FFFFFF;
  font-size: 16px;
  position: relative;
  font-family: Inter, sans-serif;
  color: #ffffffa3;
  min-height: 200px;
  
  @include xs {
    font-size: 14px;
    
  }
  
  
  &::placeholder {
    color: #FFFFFF;
    opacity: 0.5;
  }

  height: 100px;
  resize: none;
  padding-right: 48px; /* Учитываем место для счётчика символов */
}

.charCounter {
  font-size: 12px;
  color: #ffffff;
  opacity: 0.5;
  text-align: right;
  margin-top: 4px;
}