.secondaryBtn {
  background-color: rgba(255, 185, 76, 0.16); /* Прозрачный фон */
  color: #ffb94c;
  border: 1px solid rgba(255, 185, 76, 0.2); /* Прозрачная обводка */
  
  &:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Легкое затемнение фона */
    color: #ff9a2b; /* Более насыщенный цвет текста */
  }
}