@use '@/assets/styles/mixins' as *;

.compatibilityBar {
  border-radius: 16px;
  padding: 20px;
  border: 1px solid rgb( 255 255 255/.2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 20px;

  @include xs {
    padding: 16px;
  }
}

.clock {
  font-weight: 400;
}

.title {
  color: #c7afc1;
  margin-bottom: 8px;
}

.icon {
  width: 24px;
  height: 24px;
  fill: #FFB94C;
}

.ready {
  text-transform: uppercase;
  font-size: 22px;

  @include xs {
    font-size: 20px;
  }
}

.img {
  width: 60px;
  height: 60px;
  border-radius: 20%;
}

.flex {
  display: flex;
  gap: 20px;
}