
.onboardingLabels {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  margin-top: 14px;
  margin-bottom: 8px;
  display: block;
}

.dataInputWrapper {
  display: flex;
  gap: 10px;

  input {
    width: 30%;
    padding: 10px;
  }
}

.birthdayInput {
  padding: 12px 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1); /* Обводка с прозрачностью 10% */
  border-radius: 12px;
  color: #FFFFFF;
  font-size: 16px;
  position: relative;
  color: rgb(255 255 255 / 0.64) !important;
  width: 64px !important;

  &::placeholder {
    color: rgb(255 255 255 / 0.64) !important;
  }

}

.inputIconContainer {
  position: relative;
  width: 140px;
  flex-shrink: 0;
  flex-grow: 1;
}

.icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.8); /* Прозрачность 80% */
  cursor: pointer;
  width: 16px;
  height: 16px;
  pointer-events: none;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  cursor: pointer;

  background-image: url("data:image/svg+xml, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13.5703' height='8.32031'%3E%3Cg%3E%3Crect height='8.32031' opacity='0' width='13.5703' x='0' y='0'/%3E%3Cpath d='M6.78906 8.32031C6.98438 8.32031 7.17969 8.24219 7.3125 8.09375L13.3594 1.89844C13.4922 1.76562 13.5703 1.59375 13.5703 1.39844C13.5703 0.992188 13.2656 0.679688 12.8594 0.679688C12.6641 0.679688 12.4844 0.757812 12.3516 0.882812L6.36719 7L7.20312 7L1.21875 0.882812C1.09375 0.757812 0.914062 0.679688 0.710938 0.679688C0.304688 0.679688 0 0.992188 0 1.39844C0 1.59375 0.078125 1.76562 0.210938 1.90625L6.25781 8.09375C6.40625 8.24219 6.58594 8.32031 6.78906 8.32031Z' fill='%23FFFFFF' fill-opacity='1.0'/%3E%3C/g%3E%3C/svg%3E");
}

.selectMonth {
  height: 56px;
  background: #421f47;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid rgb(255 255 255/0.1);
  appearance: none;
  background-color: rgb(85, 54, 90);
  color: rgb(255 255 255/0.54);
  width: 100%;
  flex-shrink: 0;

  & option {
    color: black;
    margin-bottom: 20px;
    background: rgb(213, 206, 215);
    padding-block: 6px;
  }
}

.yearInput {
  padding: 12px 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1); /* Обводка с прозрачностью 10% */
  border-radius: 12px;
  color: #FFFFFF;
  font-size: 16px;
  position: relative;
  color: rgb(255 255 255 / 0.64) !important;
  width: 200px;

  &::placeholder {
    color: rgb(255 255 255 / 0.64) !important;
  }
}

