@use '@/assets/styles/mixins' as *;

.wrapper {
  color: rgb(255 255 255);
  text-align: center;
  font-size: 18px;

  @include xs {
    font-size: 16px;
  }
}

.dateText {
  margin-top: 40px;
  margin-bottom: 20px;
}