@use '@/assets/styles/mixins' as *;

.img {
  width: 48%;
  object-fit: contain;

  @include xs {
    width: 100%;
  }  
}

.wrapper {
  margin-top: 40px;
  border-radius: 12px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
  padding: 20px;
  min-height: 100px;
  background-color: #553559;
  display: flex;
  gap: 30px;
  justify-content: center;
  
  @include xs {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }
}