@use '@/assets/styles/mixins' as *;

.compatSelect {
  padding-bottom: 100px;
  margin-top: -48px;

  @include xs {
    margin-top: -44px;
  }
}

.mainTitle {
  text-align: center;
  margin-bottom: 42px;

  @include m {
    font-size: 22px;
  }

  @include xs {
    font-size: 16px;
    margin-bottom: 28px;
  }
}

.card {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #4d2e52;
  border-radius: 12px;
  padding: 20px;
  padding-block: 24px;  
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
  
  &:hover {
    background-color: rgba(255, 185, 76, 0.16);
  }
}

.cardIcon {
  height: 24px;
  width: 24px;
  stroke: #FFB94C;
  
}

.cardText {
  flex: 1;
  display: flex;
  align-items: center;
}

.cardTitle {
  font-size: 22px;
  font-weight: 500;
  color: #e8e4e9;  
  text-transform: uppercase;
  
  @include xs {
    font-size: 19px;
  }
}

.cardIndicator {
  background-color: #ff4c4c;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 100px;
  top: 12px;
  right: 16px;
}