@use '@/assets/styles/mixins' as *;

.chartPage {  
  padding-bottom: 110px;
  margin-top: -48px;

  @include xs {
    margin-top: -44px;
  }
}

.mainTitle {
  text-align: center;
  margin-bottom: 42px;

  @include m {
    font-size: 22px;
  }

  @include xs {
    font-size: 16px;
  }
}

.picturesWithLegend {
  background-color: #553559;
  padding: 20px;
  padding-top: 60px;
  border-radius: 16px;
  overflow: hidden;
  
  @include xs {    
    flex-wrap: wrap;
    gap: 0px;
    padding: 16px;
    padding-top: 90px;
    padding-bottom: 20px;
  }
}

.picturesBlock {
  aspect-ratio: 1000 / 520;
  justify-content: center;  
  display: flex;
  gap: 20px;   
    
  @include xs {
    aspect-ratio: 428 / 850;
    flex-wrap: wrap;
    gap: 0px;    
  }
}

.mapImg {
  width: 48%;
  object-fit: contain;

  @include xs {
    width: 100%;
  }
}

.aspectImg {
  width: 48%;
  object-fit: contain;
  
  @include xs {
    width: 100%;
  }
}

.chartWrapper {
  position: relative;
}

.userChartInfo {
  opacity: 0.8;
  font-size: 14px;
  position: absolute;
  left: 30px;
  top: 30px;  
  max-width: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: .8;
  font-weight: 400;
  
  @include m {
    left: 20px;
    top: 20px;
  }
  
  @include xs {
    line-height: 1.4;
    gap: 4px;
  }  
}

.chartInfoDate {
  font-size: 16px;
}

.chartInfoLocation {
  font-size: 14px;
}
.textBlock {
  @include xs {
    padding-inline: 4px!important;
  }
}

.quote {
  margin-bottom: 0;    
}

.outerQuote {
  width: 90%;
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;  
  opacity: .8;
  
  @include m {
    padding-left: 0px;
  }
  
  @include xs {
    padding-left: 0px;
    margin-left: 0;
    width: 100%;    
  }
}

.text {
  opacity: .8;
}

.texts {
  margin-top: 30px;
  
  @include xs {
    margin-top: 20px;
  }
}

.textTitle {
  margin-bottom: 20px;  
}