@use '@/assets/styles/mixins' as *;

.astrologerAnswer {
  padding-bottom: 110px;
  margin-top: -48px;

  @include xs {
    margin-top: -43px;
  }
}

.mainTitle {
  text-align: center;
  margin-bottom: 42px;

  @include m {
    font-size: 22px;
  }

  @include xs {
    font-size: 16px;
  }
}

.title {
  margin-top: 40px;
  margin-bottom: 20px;
  
  @include xs {
    font-size: 18px;
  }
}

.answerTitle {
  margin-top: 40px;
  margin-bottom: 20px;

  @include xs {
    font-size: 18px;
  }
}

.par {
  margin-bottom: 20px;
}

.innerPar {
  margin-bottom: 10px;
}